.nav__btn {
    width: 120px;
    height: 50px;
    background: linear-gradient(180deg, #E1A0A0 0%, #E68181 100%);
    box-shadow: 0px 10px 40px #6B3838;
    border-radius: 7px;
    border-style: none;
    position: relative;
    right: 1em;
    color: $secondary-color;
    font-size: bold;
};