.header {
    display: flex;
    position: absolute;
    top: 222px;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    padding: 0 27px;

    .header__title {
        margin-bottom: 1em;
    }

    .header__p{
        color: $tertiary-color;
    }
}