@import "./_variations.scss";

.header {
  display: flex;
  position: absolute;
  top: 222px;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  margin: 0 10%;

  .header__title {
    margin-bottom: 0.5em;
  }

  .header__p {
    color: $tertiary-color;
  }
}
