@import "./_variations.scss";

.main {
  position: relative;
  top: 286px;
  height: 60px;
  margin: 0 10%;

  .main__input {
    height: 100%;
    width: 100%;
    background-color: $quatertiary-color;
    color: $tertiary-color;
    border: 2px dashed $tertiary-color;
    border-radius: 10px;
    padding: 18px 32px;

  }
}
